body
{
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

#page_content
{
	display: flex;
	flex-direction: column;
}

section
{
	margin: 10px;
	padding: 10px;
	border: 1px #e1e1e1 solid;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	flex-grow: 1;
	flex-shrink: 1;
}

/*------------HEADER-----------*/

header
{
	position: relative;
	background-color: #0096ff;
	padding: 10px;
	font-family: GravityBoldItalic, arial, serif;
}

header h1, header a
{
	color: #ffffff;
	text-decoration: none;
	margin-left: 50px;
}

/*----------------FONT-------------------*/

@font-face
{
    font-family: "GravityLight";
    src: url('fonts/gravity/Gravity-Light.ttf');
}

@font-face
{
    font-family: "GravityBook";
    src: url('fonts/gravity/Gravity-Book.ttf');
}

@font-face
{
    font-family: "GravityBoldItalic";
    src: url('fonts/gravity/Gravity-Bold-Italic.ttf');
}

body
{
	font-family: GravityBook, Arial, Serif;
}

a
{
	color: #b5b5b5;
	text-decoration: none;
}

p
{
	text-align: justify;
}

/*------------------NAVIGATION-----------------*/

nav
{
	width: 100%;
	height: 50px;
	padding: 1px;
	text-align: center;
	background-color: #6ac2ff;
}

nav li
{
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}

li > a
{
	text-decoration: none;
	color: #ffffff;
	margin: 20px;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-fonction: linear;
}

li > a:hover
{
	color: #0096ff;
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-fonction: linear;
}

/*------------------NEWS------------------*/

#page
{
	width: 80%;
	margin: auto;
	padding: 10px;
	background-color: #ffffff;
	border-left: solid 1px #e1e1e1;
	border-right: solid 1px #e1e1e1;
}

dev h1
{
	text-align: left;
	margin: 10px;
	color: #47b3ff;
	font-size: 2em;
}

article
{
	margin: 20px;
	border-bottom: solid 1px #e1e1e1;
	width: 70%;
}

article header
{
	margin: auto;
	background: none;
}

article header h1, article header h6
{
	text-align: left;
	margin: 0px;
}

article header h1
{
	color: #47b3ff;
	font-size: 1.5em;
	font-family: GravityBook, Arial, serif;
}

article header h6
{
	color: #bcbcbc;
	font-size: 0.9em;
}

article p
{
	font-family: GravityBook, Arial, serif;
}

article a
{
	color: #47b3ff;
	text-decoration: none;
}

dev ul
{
	text-align: center;
}

dev ul li
{
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}

dev ul li a
{
	text-decoration: none;
	color: #0096ff;
	margin: 20px;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-fonction: linear;
}

dev ul li a:hover
{
	color: #cccccc;
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-fonction: linear;
}

@media all and (max-width: 1000px)
{
	.page
	{
		width: auto;
		padding: auto;
		margin: auto;
	}
}

/*-------------FORM------------*/

.form
{
	margin: 20px;
	padding: 10px;
	text-align: center;
}

form
{
	display: inline-block;
	text-align: left;
}

label
{
	display: block;
	width: 300px;
	float: left;
}

/*-------------TABLE------------*/

table
{
	margin: 10px 0px;
    border-collapse: collapse;
}

td, th
{
	padding: 10px;
    border: 1px solid black;
}

/*------------FOOTER-----------*/

footer
{
	position: relative;
	background-color: #0096ff;
	padding: 10px;
}

footer p
{
	color: #ffffff;
	text-align: center;
}

/*------------ADMININDEX-----------*/

.meter_gauge
{
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 5px 5px -5px #333 inset;
	height: 25px;
	display: block;

	/* Gradient */
	background: #719fd1; /* Fallback */
	background: linear-gradient(to right, rgba(0,200,0,255) 0%, rgba(255,255,0,255) 50%, rgba(255,0,0,255) 100%); /* W3C */
}

.meter_gauge > span
{
	height: inherit;  
	box-shadow: 0 5px 5px -5px #999 inset;
	background-size: 100% 100%;
	display: block;
	text-indent: -9999px;
	background-color: whiteSmoke;
	float: right;
}

.dashboard
{
	flex-grow: 3.666666666666666666;
	border-right: solid 1px #d0d0d0;
}

.vertical_layout
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.horizontal_layout
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}